<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>BURGER ME</h1>
            <img src="/assets/img/burger.png" alt="" style="width: 200px" id="burger-image">
        </div>
    </div>



<div class="row">
    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{/unless}}
        {{/each}}
    </ul>
</div>

<form id="addBurger">
    <h2>Add Burger</h2>
    <input type="text" id="burgerName">
    <button class="btn" id="burgerBtn">Add Burger</button>
</form>