<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>BURGER ME</h1>
            {{!-- <img src="/assets/img/burger.png" alt="" style="width: 200px" id="burger-image"> --}}
        </div>
    </div>



<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Burger Menu</h2>
                <ul class="left-text burgerMenu">
                    {{#each burgers}}
                    {{#unless devoured}}
                    <li class="pb-2 burgerList">
                        {{ burger_name }}
                        <button id= "eatBtn" class="btn btn-primary eatBtn" burgId = "{{id}}" type="button">EAT</button>
                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
</div>
  
  
<div class="row">
    <div class="d-flex justify-content-center">
        <h5>Add a Burger</h5>
        </div>
        <div class="d-flex justify-content-center">
            <div class="card">
                <div class="card-body">
                    <form id="add-form">
                        <div class="form-group">
                            <input type="text" id="burgName">
                        </div>
                        <br>
                        <div class="text-center">
                            <button id="addBtn" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


